.bookmarkIconContainer {
    position: relative;
}
.bookmarkIconContainer p {
    position: absolute;
    padding: 5px;
    top: -18px;
    left: -15px;
    background-color: rgb(163, 0, 0);
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    display: grid;
    place-content: center;
    font-size: .875rem;
}