.hero .info-hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero h2 {
    font-size: 2.5rem;
    text-wrap: balance;
    font-weight: 700;
}
.hero p {
    font-size: 1.2rem
}
.hero img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
}
@media (min-width: 1200px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }
}