.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
@media (min-width: 1200px) {
    .main-books {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 40px 0px;
    }
}