header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    text-align: left;
    font-size: 1.5rem;
}
.secondPart {
    display: flex;
    gap: 20px;
    align-items: center;
}
.secondPart > * {
    cursor: pointer;
}