.BookSingleContainer {
    text-align: left;
    max-width: 200px;
}
.BookSingleContainer img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.genre {
    display: inline-block;
    background-color: rgb(133, 86, 0);
    font-weight: 600;
    color: white;
    padding: 5px;
}
.BookSingleContainer button {
    background-color: black;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.BookSingleContainer div {
    display: flex;
    align-items: center;
    gap: 10px;
}